.corner-box {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  
  .corner-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 200px solid #fff;
  }

.background{

 }
  .corner-box img {
    position: absolute;
    top: -100px;
    right: -100px;
    width: 600px;
    height: 600px;
    object-fit: cover;
  }